<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="description" content="这是我的个人网站-用于学习和交流">
    <meta name="keywords" content="个人网站，前后端开发，技术交流">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="js/r.js" defer async="true" ></script> -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Skin/css/swiper3.07.min.css">
    <link rel="stylesheet" href="__ROOT__/Skin/css/font-awesome.css">
    <link rel="stylesheet" href="__ROOT__/Skin/css/wzBlog.css?version=1.0">
    <link rel="shortcut icon" href="__ROOT__/Skin/img/favicon.png">
</head>