<!-- <script type="text/javascript" data-main="js/main.js" src="js/thirdLib/requirejs/require.js"></script> -->
<script type="text/javascript" src="__ROOT__/Skin/js/thirdLib/jqueryjs/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__ROOT__/Skin/js/thirdLib/jqueryjs/swiper3.07.min.js"></script>
<script type="text/javascript" src="__ROOT__/Skin/js/thirdLib/jqueryjs/bootstrap.min.js"></script>
<script type="text/javascript" src="__ROOT__/Skin/js/jqAddFun.js"></script>
<script type="text/javascript" src="__ROOT__/Skin/js/blog.js"></script>
<script type="text/javascript" src="__ROOT__/Skin/js/jquery.leoweather.min.js"></script>
<!-- <script type="text/javascript" src="__ROOT__/Skin/js/pagination.js"></script> -->
