<div class="left">
    <div class="top">
        <div class="logo">
            <a href="">
                <img src="__ROOT__/Skin/img/logo/logo.jpg">
            </a>
        </div>
    </div>
    <div class="middle">
        <div class="itemColumn">
            <ul class="item">
                <li>
                    <a href="{:U('Index/index')}" class="index" >
                       <span class="glyphicon glyphicon-home"></span>
                        首页
                    </a>
                </li>
                <li>
                    <a href="{:U('Optionpage/frotend')}" class="frotend" >
                        <span class="glyphicon glyphicon-list-alt"></span>
                        前端开发
                    </a>
                </li>
                <!-- <li> 需要时候再加上
                    <a href="{:U('Optionpage/admin')}" class="admin" >
                        <span class="glyphicon glyphicon-fire"></span>
                        后端开发
                    </a>
                </li> -->
                <li>
                    <a href="{:U('Optionpage/mobile')}" class="mobile" >
                        <span class="glyphicon glyphicon-phone"></span>
                        移动开发
                    </a>
                </li>
                <li>
                    <a href="{:U('Optionpage/linux')}" class="linux">
                        <span class="glyphicon glyphicon-align-center"></span>
                        Linux
                    </a>
                </li>
                <li>
                    <a href="{:U('Optionpage/php')}" class="php">
                        <span class="glyphicon glyphicon-hand-right"></span>
                       PHP
                    </a>
                </li>
                <li>
                    <a href="{:U('Optionpage/python')}" class="python">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        Python
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <!-- div class="search">
            <form method="post" action="" class="searchItem">
                <input type="text" name="keyWords" class="keyWord" id="keyWords" placeholder="输入关键字">
                <input type="submit" value="搜索" class="btn">
            </form>
        </div> -->
        <!-- <div class="leaveMessage"> 留言框
            <div class="message">
                <a class="icon"><i class="fa fa-comments" aria-hidden="true"></i></a>
                <div class="content" contenteditable="true">
                    
                </div>
                <button class="leave btn">留言</button>
            </div>
            
        </div> -->
        <!-- 对本网站支持 -->
        
    </div>
    <div class="other">
         
    </div>
</div>