<include file="Public/head" />
<body>
    <section class="container">
    <include file="Public/left" />
        <div class="center">
           <div class="content">
                <!-- 最新发布 -->
                <div class="newPost">
                    <h3><span>Linux</span></h3>
                    <if condition="$noData.status == 0">
                        <div class="nodata">{$noData.result}</div>
                    <else />
                        <foreach name="art" item="art"> 
                            <article class="excerpt excerpt-one">
                                <header>
                                    <h2>
                                        <a href="../article/article/page/{$art.art_id}" target="_blank" >{$art.art_title}</a>
                                    </h2>
                                </header>
                                <p class="text-muted time">{$art.art_author} 发布于 {$art.art_time|strtotime|date='Y-m-d',###}</p>
                                <if condition="$art.art_href !=''">
                                    <p class="focus">
                                        <a href="../article/article/page/{$art.art_id}" class="thumbnail">
                                            <span>
                                                <img class="thumb" src="{$art.art_href}" style="display: inline;">
                                            </span>
                                        </a>
                                    </p>
                                </if>
                                <p class="note">
                                   {$art.art_content}
                                </p>
                                <p class="text-muted views">
                                    <a target="_blank" href="../article/article/page/{$art.art_id}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {$art.art_read}
                                    </a>
                                    <a target="_blank" href="../article/article/page/{$art.art_id}">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {$art.idnum}
                                    </a>
                                    <a href="javascript:;" class="post-like" data-pid="{$art.art_id}" data-event="">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>赞 (<span>{$art.art_zan}</span>)
                                    </a>
                                </p>
                            </article>
                        </foreach>
                        <div class="pageNum">
                            <a class="btn prev" style="display: {$pageData[3]}" href="{$_SERVER['PHP_SELF']}?gpage={$pageData[1]}">上一页</a>
                            <a class="btn next" style="display: {$pageData[4]}" href="{$_SERVER['PHP_SELF']}?gpage={$pageData[2]}">下一页</a>
                        </div>
                    </if>
                </div>
           </div>
           <!-- 网站底部 -->
           <include file="Public/footer" />
        </div>
        <div class="right">
            <div class="searchRight">
                <h3><span>搜索</span></h3>
                <form method="post" action="" class="searchItem">
                    <input type="text" name="keyWords" class="keyWord" id="keyWords" placeholder="输入关键字">
                    <input type="submit" value="搜索" class="btn">
                </form>
            </div>
            <div class="hotLabel">
                <h3><span>热门标签</span></h3>
                <ul class="recentArticle">
                    <li><a href="">js (40)</a></li>
                    <li><a href="">css (40)</a></li>
                    <li><a href="">css3 (40)</a></li>
                    <li><a href="">小程序 (40)</a></li>
                    <li><a href="">html5 (40)</a></li>
                    <li><a href="">jq (40)</a></li>
                    <li><a href="">vue (43)</a></li>
                    <li><a href="">优化 (52)</a></li>
                    <li><a href="">过滤器 (46)</a></li>
                    <li><a href="">CSS (52)</a></li>
                    <li><a href="">前端技巧 (61)</a></li>
                    <li><a href="">SEO (40)</a></li>
                    <li><a href="">用户体验 (46)</a></li>
                    <li><a href="">设计思路 (43)</a></li>
                    <li><a href="">HTML5 (40)</a></li>
                    <li><a href="">SEO (40)</a></li>
                    <li><a href="">网页设计 (40)</a></li>
                </ul>
            </div>
        </div>
    </section>
    <include file="Public/scrollTop" />
</body>
</html>
<include file="Public/js" />