body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #444;
    overflow-x: hidden;
    background-color: #dedede;
}
body, button, input, select, textarea {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
    cursor: pointer;
}
a:hover, a:focus{
    text-decoration: none;
}
.clearfix{
    clear: both;
}
.container{
    min-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    text-align: left;
    position: relative;
}
.left{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 190px;
    background-color: #eae9e9;
    margin: 0;
    padding: 0;
    z-index: 99;
}
.left .top .logo img{
    /*transform: scale(0.4);
    top: -90px;
    position: absolute;
    left: 0;*/
}
.left .top .logo a{
    display: block;
    overflow: hidden;
    background-color: #FF5E52;
    color: #fff;
}
.left .middle .itemColumn .item {
    margin: 0;
    padding: 0;
    border-bottom:1px solid #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.left .middle .itemColumn .item li,.right .hotLabel .recentArticle li{
    list-style: none;
}
.left .middle .itemColumn .item li a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}
.left .middle .itemColumn .item li a.active{
    color: #FF5E52;
    background-color: #fff;
}
.left .middle .itemColumn .item li a:hover:not(.active),.left .middle .itemColumn .item li a:focus:not(.active){
    color: #444;
    background-color: #fff;
}
.left .middle .itemColumn .item li a span{
    margin-left: 25px;
    top: 3px;
    margin-right: 10px;
}
.left .bottom .searchItem .keyWord,.right .searchRight .keyWord{
    width: 100px;
    height: 34px;
    padding: 4px 4px 4px 6px;
    border: solid 1px #ddd;
}
.left .bottom .searchItem .keyWord:focus{
    outline: none;
    border: 1px solid #adabab;
}
.left .bottom .searchItem{
    padding: 10px 10px 16px 10px;
    border-bottom: 1px solid #EEEEEE;
}
.left .bottom .searchItem .btn,.right .searchRight .btn,.left .bottom .leaveMessage .message .leave{
    border-radius: 0;
    background-color: #FF5E52;
    opacity: .85;
    color: white;
    position: relative;
    left: -5px;
    vertical-align: top;
}
.left .bottom .searchItem .btn:hover,.right .searchRight .btn:hover,.left .bottom .leaveMessage .message .leave:hover{
    opacity: 1;
}
.center{
    width: 86%;
    position: absolute;
    min-height: 800px;
    background: white;
    top: 0;
    margin-left: 190px;
}
.right{
    width: 300px;
    position: absolute;
    background: white;
    right: 0;
    top: 0;
}
.right h3,.weekHot h3,.newPost h3{
    border-bottom: 2px solid #eee;
    padding-bottom: 2px;
}
.right h3 span{
    border-bottom: 2px solid #FF5E52;
}
.right .recent .tipNum{
    position: absolute;
    right: 0;
    color: #FF5E52;
}
.right .recent ul{
    padding: 0;
}
.right .recent ul li{
    list-style: none;
    border-bottom: solid 1px #eee;
    position: relative;
    line-height: 36px;
}
.right .recent ul li:hover{
    background-color: #f5deb3;
}
.right .recent ul li a{
    display: inline-block;
    color: #b24926;
    text-decoration: underline;
}
.right .recent ul li .downloadNum{
    color: #666;
    position: absolute;
    right: 0;   
}
.right .recent ul li a:hover,.right .recent ul li a:focus{
    color: #FF5E52;
}
.right .collect ul{
    color: gray;
    list-style: disc;
    padding-left: 25px;
}
.right .collect ul li{
    margin-bottom: 2px;
}
.right .collect ul li a{
    color: #444;
}
.right .collect ul li a:hover{
    color:#FF5E52;
}
.right .searchRight .keyWord{
    width: 220px;
}
.right .searchRight .keyWord:focus,.right .searchRight .btn:focus,.left .bottom .searchItem .btn{
    outline: none;
}
.right .searchRight .keyWord:focus{
    border: 2px solid #cecbcb;
    border-right: none;
}
.right .hotLabel .recentArticle{
    padding: 0;
}
.right .hotLabel .recentArticle li a{
    display: block;
    width: 30%;
    height: 30px;
    float: left;
    text-align: center;
    margin: 5px 2px 0 0;
    color: #999;
    background-color: #eae9e9;
    line-height: 30px;
    font-size: 12px;
}
.right .hotLabel .recentArticle li a:hover{
    color: #fff;
    background-color: #45B6F7;
    border-left: 3px solid orange;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.center .content{
    width: 640px;
    min-height: 900px;
    padding: 0 12px 0 12px;
}
/*轮播*/
.center .content #slide{
    /*border-bottom: 2px solid #eee;*/
}
.swiper-container {
    width: 600px;
    height: 300px;
}
.swiper-pagination-bullet-active{
    background: #FF5E52;
}
.swiper-container-horizontal>.swiper-pagination{
    background: #e2e2e2;
    opacity: 0.7;
    width: 20%;
    border-radius: 10px;
    left: 40%;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}  
.swiper-button-next{
    background: rgba(204,204,204,.6) url(../img/arrows2.png) no-repeat -58px center;
    right: 0px;
}
.swiper-button-prev{
    background: rgba(204,204,204,.6) url(../img/arrows2.png) no-repeat 5px center;
    left: 0px;
}
.center .content #slide .swiper-slide a{
    display: block;
    height: 100%;
    overflow: hidden;
}
/*动态滚动*/
.center #feedroll{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 3px 3px #c1bebe;
    margin-top: 5px;
}
.center #feedroll label{
    float: left;
    margin-right: 6px;
    margin-left: 5px;
    color: rgba(255, 87, 34, 0.75);
    display: flex;
    align-items: center;
}
.center #feedroll .feed{
    float: left;
}
.center #feedroll .feed ul,.center .newPost ul{
    padding: 0;
    transition: all 0.5s  ease-in;
}
.center #feedroll .feed ul .item,.center .newPost ul li{
    list-style: none;
}
.center #feedroll .feed ul .item a{
    color: #666;
}
.center #feedroll .feed ul .item a:hover{
    color: #45B6F7;
}
/*热门排行*/
.center .weekHot h3 span{
    font-size: 18px;
}
.center .weekHot h3,.center .newPost h3{
    padding-bottom: 5px;
}
.center .weekHot .hotItem{
    padding: 0;
    position: relative;
}
.center .weekHot .hotItem li{
    list-style: none;
    margin: 5px 0 8px 0;
    position: relative;
    display: flex;
    align-items: center;
}
.center .weekHot .hotItem li .label{
    margin-right: 8px;
}
.center .weekHot .hotItem li .label-1{
    background-color: #FD8C84;
}
.center .weekHot .hotItem li .label-2{
    background-color: #7FD75A;
}
.center .weekHot .hotItem li .label-3{
    background-color: #60C4FD;
}
.center .weekHot .hotItem li .label-4,.center .weekHot .hotItem li .label-5{
    background-color: #999999;
}
.center .weekHot .hotItem li a{
    color: #666;
}
.center .weekHot .hotItem li a:hover,.center .weekHot .hotItem li a:focus,.excerpt .views>a:hover,.text-muted a:hover{
    color: #FF5E52;
}
.center .weekHot .hotItem li .text-muted{
    position: absolute;
    right: 0;
    font-size: 12px;
    width: 200px;
    padding-left: 50px;
}
.center .weekHot .hotItem li .text-muted .post-comments{
    width: 74px;
    display: inline-block;
}
.center .weekHot .hotItem li .glyphicon-thumbs-up,.center .newPost article .text-muted .post-like .glyphicon-thumbs-up{
    top: 3px;
    left: -4px;
}
.weekHot h3 span,.newPost h3 span{
    border-left: 4px solid #3498db;
    padding-left: 6px;
}

/*最新发布*/
.center .newPost h3 span{
    font-size: 18px;
}
.center .newPost h3 .pull-right{
    line-height: 32px;
    font-size: 14px;
}
.excerpt .focus {
    position: relative;
    margin: 10px -6px 0 0;
    overflow: hidden;
}
.excerpt-one .focus {
    float: right;
    width: 25.3%;
    margin-top: -10%;
}
.excerpt header {
    margin: 0 0 10px 0;
}
.excerpt .text-muted {
    font-size: 12px;
}
.excerpt .text-muted a{
    text-decoration: none;
}
.excerpt .note {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}
.excerpt p {
    margin-bottom: 0;
}
.excerpt header .label {
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.label-important, .badge-important {
    background-color: #0d6cbf;
    opacity: .9;
}
.label-important:hover,.label-important:focus{
    opacity: 1;
}
.label .label-arrow {
    top: 7px;
    right: -4px;
    border-left: 4px solid #0d6cbf;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.label-arrow {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}
.excerpt h2 {
    display: inline;
    font-size: 22px;
    margin: 0;
    font-weight: normal;
    position: relative;
    top: 1px;
    line-height: 25px;
}
.excerpt header small {
    margin-left: 10px;
}
.excerpt header small .glyphicon {
    margin-right: 2px;
    font-size: 13px;
}
.excerpt h2 a{
    transition: all linear .218s;
}
.excerpt h2 a:hover{
    text-decoration: underline;
}
.focus .thumbnail .thumb {
    height: 132px;
}
.thumbnail .thumb {
    max-width: 240px;
    width: 100%;
    max-height: 132px;
}
.excerpt .note {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}
.excerpt-one{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted #ccc;

}
.excerpt-one .note {
    /*margin-right: 25.3%;*/
}
.excerpt-one .note {
    margin-top: 6px;
    padding-right: 15px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content .newPost .nodata{
    color: #666;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
.excerpt .views>span,.excerpt .views>a {
    margin-right: 20px;
}
.text-muted a {
    color: #999;
    text-decoration: underline;
}
/*页数*/
.pageNum{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageNum .btn{
    color: white;
    background: #FF5E52;
    opacity: 0.9;
    margin: 10px;
    outline: none;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.pageNum .prev{
    background-color: #45B6F7;
}
.pageNum ul.numItem{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.pageNum ul li.num{
    width: 40px;
    height: 40px;
}
.pageNum ul li.num a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #333333;
    background-color: #d4d2d2;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}
.pageNum ul.numItem li.num a：hover{
    background-color: red;
}
/*底部*/
.footer{
    margin-top: 30px;
    height: 60px;
    opacity: 0.8;
    border-top: 2px solid rgba(158, 158, 158, 0.33);
}
.footer .footerCont{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footerCont p{
    margin: 0;
}
/*返回顶部*/
#ScrollToTop {
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: -10px;
    width: 78px;
    padding: 20px 10px 30px;
    display: block;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 0 #fff, 0 1px 3px rgba(34,25,25,.5);
    -moz-box-shadow: 0 0 #fff,0 1px 3px rgba(34,25,25,.5);
    -webkit-box-shadow: 0 0 #fff, 0 1px 3px rgba(34,25,25,.5);
    -moz-transition: bottom 250ms ease-in-out;
    -webkit-transition: bottom 250ms ease-in-out;
}
#ScrollToTop:hover{
    background: #d4d4d4;
    color: #FF5E52;
    opacity: 0.8;
}
.Button2.WhiteButton {
    border-color: #bbb;
    color: #524d4d;
    background-color: #f0eded;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdfafb),to(#f0eded),color-stop(.5,#f9f7f7),color-stop(.5,#f6f3f4));
    background-image: -moz-linear-gradient(top,#fdfafb,#f9f7f7 50%,#f6f3f4 50%,#f0eded);
    background-image: -o-linear-gradient(top,#fdfafb,#f9f7f7 50%,#f6f3f4 50%,#f0eded);
    background-image: -webkit-linear-gradient(top,#fdfafb,#f9f7f7 50%,#f6f3f4 50%,#f0eded);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
    text-shadow: 0 1px rgba(255,255,255,.9);
}
/*弹出层样式*/
.layer{
    position: fixed;
    width: 240px;
    height: 150px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -75px;
    z-index: 9999;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.layer-name{
    -webkit-animation-name: layer-bounceIn;
    animation-name: layer-bounceIn;
}
.layer-out{
    -webkit-animation-name: layer-out;
    animation-name: layer-out;
}
.layer .layer-container .title{
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #dedede;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
}
.layer .layer-container .layer_content{
    height: 104px;
    line-height: 104px;
    text-align: center;
}
.layer .layer-container .layer-close{
    top: -145px;
    left: 220px;
    cursor: pointer;
}
@-webkit-keyframes layer-bounceIn {
    0% {
        opacity:0;
        -webkit-transform:scale(.5);
        transform:scale(.5)
    }
    100% {
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes layer-bounceIn{
    0%{
        opacity:0;
        -webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        transform:scale(.5)
    }
    100% {
        opacity:1;
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes layer-out{
    0% {
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50% {
        opacity:1;
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100% {
        opacity:0;
        -webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        transform:scale(.5)
    }
}
@keyframes layer-out{
    0% {
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50% {
        opacity:1;
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100% {
        opacity:0;
        -webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        transform:scale(.5)
    }
}
/*下载页面*/
.content dl.downloadItem dd a{
    display: inline-block;
    font-size: 20px;
    color: #b24926;
    text-decoration: underline;
}
.content dl.downloadItem dd a:hover{
    color: #FF5E52;
}
.content dl.downloadItem{
    position: relative;
}
.content dl.downloadItem dd .downloadNum{
    position: absolute;
    right: 0;
    width: 60px;
}
.content dl.downloadItem dd .downloadNum .dNum{
    margin-left: 8px;   
}
/*天气栏目*/
.right .wether .wetherContent{
    width: 90%;
    background: #428bca;
    color: #FFF;
    margin: 0 auto;
    padding: 10px 0px 20px 0px;
    overflow: hidden;
    border-radius: 20px;
}
.right .wether .wetherContent i.icon-xiaoyu{
    background-image: url(../img/wether/xiaoyu.png);
}
.right .wether .wetherContent i.icon-dayu{
    background-image: url(../img/wether/dayu.png);
}
.right .wether .wetherContent i.icon-duoyun{
    background-image: url(../img/wether/duoyun.png);
}
.right .wether .wetherContent i.icon-qing{
    background-image: url(../img/wether/qing.png);
}
.right .wether .wetherContent i.icon-yin{
    background-image: url(../img/wether/yin.png);
}
.right .wether .wetherContent i.icon-zhongyu{
    background-image: url(../img/wether/zhongyu.png);
}
.right .wether .wetherContent i{
    background: no-repeat top left;
    display: inline-block;
    height: 128px;
    line-height: 128px;
    margin: 0 auto 20px 40px;
    font-size: 20px;
    padding-left: 150px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}
.right .wether .wetherContent p{
    background: rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    font-size: 16px;
    margin: 0 auto;
}
.right .wether .wetherContent p span{
    margin: 0 15px;
}
/*留言栏*/
.left .bottom .leaveMessage{
    
}
.left .bottom .leaveMessage .message{

}
.left .bottom .leaveMessage .message .icon{
    font-size: 22px;
    margin-left: 5px;
    color: #FF5E52;
}
.left .bottom .leaveMessage .message .content{
    background: white;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border: 2px solid #dedede;
    overflow-y: scroll;
    outline: none;
}
.left .bottom .leaveMessage .message .leave{
    width: 100%;
    left: 0;
    border-radius: 2px;
    /* box-shadow: 0px 1px 1px #03A9F4; */
    outline: none;
    margin-top: 10px;
}